.main{
justify-content: space-evenly;
}

body{
  padding: 0%;
  margin: 0%;
}
.inicio{
  background-color: black;
  color: aliceblue;
  text-align: center;
}

.title{
  text-decoration: underline;
  padding: 0%;
  margin: 0%;
}

.info{
  position: relative;
  bottom: -500px;
  background-color: rgb(80, 80, 80);
  text-align: center;
}

.subtitle{
  text-decoration: underline;
  padding: 10px;
}

.publi{
  /* width: 50%; */
  border:  solid 1px;
  /* text-align: center; */
} 

.publi > * {
  overflow-wrap: break-word;
}